{
  "extends": ["react-app", "eslint:recommended", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": ["warn", { "allow": ["error"] }],
    "no-alert": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-imports": "error",
    "no-empty": "error",
    "no-unreachable": "error",
    "no-var": "error",
    "prefer-const": "error",
    "no-debugger": "error",
    "no-await-in-loop": "error",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-unused-vars": "error"
  },
  "overrides": [
    {
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint"
      ],
      "files": ["**/*.ts?(x)"],
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["error"],
        "@typescript-eslint/no-dupe-class-members": ["error"],
        "@typescript-eslint/prefer-optional-chain": ["warn"]
      }
    }
  ]
}
